body {
    background: #ECF0F3;
}

#title {
    width: 840px;
    min-height: 80px;
    height: auto;
    border-radius: 20px;
    box-shadow: 12px 12px 24px #c9cccf, -12px -12px 24px #ffffff;
    margin: 30px auto;
    cursor: pointer;
    padding: 1px;
}

.title {
    min-height: 1.5em;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
}

.titleCur {
    color: #7db9de;
}

#content {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

#sentenceList {
    width: 760px;
}

.sentence {
    height: auto;
    min-height: 80px;
    width: 700px;
    margin: 48px 30px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    background: #ECF0F3;
}

.sentenceSelect {
    box-shadow: 12px 12px 24px #c9cccf, -12px -12px 24px #ffffff;
}

.sentencePlaying {
    color: #7db9de;
}

.orderNum {
    font-size: 2.4em;
    font-weight: bold;
    padding: 0.3em;
}

.originText {
    font-size: 1.5em;
    padding: 0.3em;
}

.textDisplayBtnTrue {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 22px;
    background: #ECF0F3;
    background: linear-gradient(145deg, #d4d8db, #fdffff);
    box-shadow: 12px 12px 24px #c9cccf, -12px -12px 24px #ffffff;
    margin: 48px 30px;
}

.textDisplayBtnFalse {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 22px;
    background: #ECF0F3;
    box-shadow: 12px 12px 24px #c9cccf, -12px -12px 24px #ffffff;
    margin: 48px 30px;
}