<!DOCTYPE html>
<meta charset=utf-8 " />
<html>

<head>
    <link rel="stylesheet " href="index.css ">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js "></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js "></script>
</head>

<body>
    <div id='app'>
        <div id='title'>
            <div v-show='curPage!==-1' class='title' style="font-weight: bold; "  v-on:click=' ExpandPage() '> 
                {{ curPage.title }}
            </div>
            <div v-for='page in pages' class='title' v-bind:class='{titleCur:curPage===page}' v-show='pageExpand' v-on:click=' SelPage(page) '>
                {{ page.title}}
            </div>
        </div>
        <div v-show='!pageExpand' id='content'>
            <div id='sentenceList'>
                <div v-for="sentence in sentences " class='sentence' v-bind:class='{sentenceSelect:sentence.id === play, sentencePlaying:playing&sentence.id === play}' :id="sentence.id " v-on:click=' Play(sentence) '>
                    <div class='orderNum '>
                        {{ sentence.id - curPage.start + 1 }}
                    </div>
                    <div v-show="textDisplay " class='originText '>
                        {{ sentence.title }}
                    </div>
                </div>
            </div>
            <div id='textDisplayBtn ' v-on:click='Textdisplay ' v-bind:class='{textDisplayBtnTrue:textDisplay, textDisplayBtnFalse:!textDisplay} '></div>
        </div>
    </div>
    <script src="./base.js "></script>
</body>

</html>